[Unit]
Description=BotName

[Service]
Type=simple
ExecStart=/<PATH TO FOLDER>/.venv/bin/python /<PATH TO FOLDER>/app.py

[Install]
WantedBy=multi-user.target
